:root {
  --font-family-base: 'Bitter', serif;
  --font-family-alt1: 'Lato', sans-serif;
  --font-family-alt2: 'Lora', serif;

  --minor-second: 1.067;
  --major-second: 1.125;
  --minor-third: 1.2;
  --major-third: 1.25;
  --perfect-fourth: 1.333;
  --augmented-fourth: 1.414;
  --perfect-fifth: 1.5;
  --golden-ratio: 1.618;

  --growth: 20 / 1000; /* 20px Per 1000px of viewport */
  --start: 600px; /* Start scaling at this viewport width */

  --font-size-14: 1.4rem;
  --font-size-16: 1.6rem;
  --font-size-18: 1.8rem;
  --font-size-22: 2.2rem;
  --font-size-24: 2.4rem;
  --font-size-28: 2.8rem;
  --font-size-34: 3.4rem;
  --font-size-42: 4.2rem;
}

* {
  margin: 0;
}

* + * {
  margin: 1.2em 0 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: clamp(var(--font-size-16), calc((var(--font-size-16) - var(--growth) * var(--start)) + (var(--growth) * 100vw)), var(--font-size-22));
  padding: 4em 2em;
  line-height: 1.65;
  font-family: var(--font-family-alt1);
  font-weight: 400;
}

h1 { font-size: clamp(var(--font-size-34), calc((var(--font-size-34) - var(--growth) * var(--start)) + (var(--growth) * 100vw)), var(--font-size-42)); }
h2 { font-size: clamp(var(--font-size-28), calc((var(--font-size-28) - var(--growth) * var(--start)) + (var(--growth) * 100vw)), var(--font-size-34)); }
h3 { font-size: clamp(var(--font-size-24), calc((var(--font-size-24) - var(--growth) * var(--start)) + (var(--growth) * 100vw)), var(--font-size-28)); }
h4 { font-size: clamp(var(--font-size-18), calc((var(--font-size-18) - var(--growth) * var(--start)) + (var(--growth) * 100vw)), var(--font-size-24)); }
h5 { font-size: clamp(var(--font-size-16), calc((var(--font-size-16) - var(--growth) * var(--start)) + (var(--growth) * 100vw)), var(--font-size-18)); }
h6 { font-size: clamp(var(--font-size-14), calc((var(--font-size-14) - var(--growth) * var(--start)) + (var(--growth) * 100vw)), var(--font-size-16)); }

article {
  margin: 0 auto;
  max-width: 100rem;
}

article > * {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-base);
  line-height: 1.15;
}

img {
  width: 100%;
  max-width: 100%;
}

.u-lead {
  font-size: var(--font-size-sm);
  font-family: var(--font-family-alt2);
  font-weight: 600;
}

.u-floatRight {
  float: right;
}

.u-floatLeft {
  float: left;
}

.u-floatLeft,
.u-floatRight {
  max-width: 17.5rem;
  padding: 0 1rem;
}

figcaption {
  margin: 0;
  font-size: var(--font-size-xs);
  text-align: center;
  padding: 0 1rem;
}

blockquote {
  padding: 1em 0;
  font-family: var(--font-family-alt2);
  font-weight: 600;
  text-align: center;
}

blockquote > p {
  font-size: var(--font-size-md);
}

blockquote > footer {
  font-weight: 400;
}

a {
  color: darkcyan;
}

.shape-outside {
  shape-outside: ellipse(48% 50% at 46% 50%);
}
